Label
   left 15
   text 'base label'
   color blue
   font
      fontSize 15
      fontStyle bold
   .class1
      text "why hello there"
      [device=iphone]
         [version=5]
            left 27
         top 40
      [device=ipad]
         top 100
   #someid
      .foobarbaz
         text "something"
         font
            fontSize 15
      .asdf
         text "class asdf"
   [device=iphone]
      [density=120]
         [someprop=someval]
            text "test123"
